.tableContacts{
    position: relative;
    border-radius: 48px 50px 53px 53px;
    -moz-border-radius: 48px 50px 53px 53px;
    -webkit-border-radius: 48px 50px 53px 53px;
    border: 4px solid #ccbccc;
       top: 70px;

}
.tableContacts thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.tableContacts tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.tableContacts tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.AddContactButton{
    position: relative;
    right:  10%;
    color: blue;
}
.GenderGraphButton{
    position: relative;
    left: 10%;
    color: blue;
}